# REMOVE ALL COMMENTS IN .ENV

MEET_STREAM_API_KEY=

# Scalekit
IDENTIFIER= # Unique identifier for the user/account in Scalekit — used to scope connected accounts

SCALEKIT_ENV_URL=
SCALEKIT_CLIENT_ID=
SCALEKIT_CLIENT_SECRET=
# Meetstream

MEET_STREAM_API_KEY=
