# REMOVE ALL COMMENTS IN .ENV

MEET_STREAM_API_KEY=

# Scalekit
SCALEKIT_IDENTIFIER=bigyahufromohio@gmail.com
SCALEKIT_CONNECTED_ACCOUNT_ID=ca_118562840104667138
SCALEKIT_CONNECTION_NAME=gmail
SCALEKIT_ENV_URL=
SCALEKIT_CLIENT_ID=
SCALEKIT_CLIENT_SECRET=

# Gmail notification recipient
GMAIL_NOTIFICATION_TO=
